body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   color: #B0BEC5;
   display: table;
   font-weight: 100;
   font-family: 'Lato';
}
#start {
   width:200px;
   height:40px;
   font-size:20px;
}
.main {
   color: #76b8ff;
}
.timeSet {
   ime-mode:disabled;
   width:20px;
}
.listRecord tr.title { color: white; background-color: #8a2f12; width: 100%;}
.listRecord tr td {  width:100px; }
.listRecord tr td.w {  width:300px; }
.listRecord td.t1 { border-top-width: 1px; border-top-style: solid; color: black; }
.listRecord td.r1 { border-right-width: 1px; border-right-style: solid; color: black; }
.listRecord td.b1 { border-bottom-width: 1px; border-bottom-style: solid; color: black; }
.listRecord td.l1 { border-left-width: 1px; border-left-style: solid; color: black; }

.listRecord td.b3 { border-bottom-style: solid; color: #d6fff3; background-color: #8b17ff;}